
.main {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 100%;
}
.main__card:first-child {
    margin-top: 4rem; 
}
.main__card {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center;
    width: 350px; 
    height: 350px; 
    border: 2px solid black; 
    margin-top: 2rem;  
    position: relative; 
}
.main__card p {
    font-size: 2rem; 
    width: 250px; 
   text-align: center; 
}
.main__card__answer {
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    padding: 10px; 
    border: 2px inset black; 
}
.main__card__answer:hover {
    background: rgba(255, 0, 174, 0.736); 
}
.main__card__icon {
    height: 10%; 
    width: 10%; 
    position: absolute; 
    top: -10px; 
    right: 5px; 
    background-color: white; 
}

@media screen and (min-width: 668px) {
    .main__card {
        width: 550px; 
        height: 550px;
        margin-top: 4rem; 
    }  
    .main__card__answer {
        font-size: 3rem;
        padding: 30px; 
        border: 2px solid black; 
    } 
    .main__card p {
        font-size: 4rem;
        width: 450px; 
    }
    .main__card:first-child {
        margin-top: 8rem; 
    }
}
/*@media screen and (min-width: 1024px) {
    .main__card {
        width: 800px; 
        height: 800px;
        margin-top: 3rem; 
    }   
}*/
/*@media screen and (min-width: 1024px) {
    display: grid; 
    grid-template-columns: 1fr 1fr;

}*/