.nav {
    display: flex; 
    width: 350px;
    height: 3rem; 
    position: relative; 
    margin: 0; 
}

.nav__footer {
    list-style: none; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    width: 350px; 
    height: 3rem; 
    background-color: white;
    border: 2px solid black; 
    padding: 0; 
    margin-top: 1rem; 
    position: fixed; 
    bottom: 0; 
}

.nav__footer__item {
 height: 3rem; 
   margin: 0; 
   padding: 0 2rem; 
}

img {
    height: 3rem; 
}
.current {
    height: 4rem; 
    background-color: rgb(157, 157, 157);
    border-top: 2px solid black; 
    border-bottom: 2px solid black; 
}

@media screen and (min-width: 668px) {
   .nav, .nav__footer {
        width: 550px; 
        height: 4rem;
        margin-top: 2rem; 
    }
    .nav__footer__item {
        height: 4rem; 
    }
    img {
        height: 4rem; 
    }
}
