.nav {
  display: flex;
  width: 350px;
  height: 3rem;
  position: relative;
  margin: 0;
}

.nav__footer {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 3.2rem;
  background-color: white;
  border: 2px solid black;
  padding: 0;
  margin-top: 1rem;
  position: fixed;
  bottom: 0;
}

.nav__footer__item {
  height: 3rem;
  margin: 0;
  padding: 0 2rem;
}

img {
  height: 2.6rem;
}
.current {
  height: 3rem;
  border: 4px solid #fafa37;
  z-index: 5;
}

@media screen and (min-width: 668px) {
  .nav,
  .nav__footer {
    width: 550px;
    height: 4rem;
    margin-top: 2rem;
  }
  .nav__footer__item {
    height: 4rem;
  }
  img {
    height: 4rem;
  }
}
