.header {
    width: 350px}

h1 {
    text-align: center;
    background: white; 
    border: 2px solid black; 
    padding: 2%; 
    margin: 0; 
  
}
@media screen and (min-width: 668px) {
    .header {
        width: 550px; 
        height: 550px;
    }
    
}