.header {
    background-color: white; 
    width: 350px;
    height: 3rem; 
    position: fixed; 
    top: 0; 
    margin-bottom: 1rem; 
    z-index: 1; 
}

h1 {
    text-align: center;
    background-color: white; 
    border: 2px solid black; 
    padding: 2%; 
    margin: auto; 
    font-size: 2rem; 
    text-transform: uppercase; 
  
}
@media screen and (min-width: 668px) {
    .header {
        width: 550px; 
        height: 4rem; 
    }   
    h1 {
        font-size: 4rem; 
    }
}

@media screen and (min-width: 1024px) {
    .header {
        width: 800px; 
        height: 5rem;
    }
}