.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 3.2rem;
  background-color: white;
  border: 2px solid black;

  position: fixed;
  bottom: 0;
  padding: 0;
  margin-top: 1rem;
  margin: 0;
}
.nav__button {
  border: 2px solid black;
}

.nav__item {
  background-color: white;
  height: 3.2rem;
  margin: 0;
  padding: 0 0.8rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: none;
  border-right: none;
}

img {
  height: 2.6rem;
}

.current {
  height: 3rem;
  border: 7px dashed #fafa37;
  display: outside;
}

@media screen and (min-width: 668px) {
  .nav {
    width: 550px;
    height: 4.2rem;
    margin-top: 2rem;
  }
  .nav__item {
    height: 4.2rem;
  }
  img {
    height: 3.6rem;
  }
  .current {
    height: 4rem;
    border: 10px dashed #fafa37;
    margin: 0;
  }
}
